/* =====================================================
   WEDDBA
   PWA
===================================================== */


/* ==========================
   INSTALL BANNER
========================== */

#install-banner{

    position:fixed;

    left:20px;

    right:20px;

    bottom:20px;

    display:none;

    justify-content:space-between;

    align-items:center;

    gap:20px;

    padding:18px 22px;

    border-radius:18px;

    background:rgba(7,18,36,.96);

    border:2px solid rgba(255,122,0,.45);

    backdrop-filter:blur(14px);

    box-shadow:0 15px 35px rgba(0,0,0,.35);

    z-index:99999;

}

#install-banner div{

    color:#fff;

    font-size:15px;

    font-weight:500;

    line-height:1.4;

}


/* ==========================
   BUTTON
========================== */

#install-btn{

    border:none;

    outline:none;

    cursor:pointer;

    padding:14px 26px;

    border-radius:14px;

    background:linear-gradient(
        135deg,
        #ff7a00,
        #ffb347
    );

    color:#fff;

    font-size:15px;

    font-weight:700;

    transition:.3s;

    flex-shrink:0;

}

#install-btn:hover{

    transform:translateY(-2px);

    box-shadow:0 10px 25px rgba(255,122,0,.35);

}

#